<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p><%= link_to 'Página de clientes', clientes_path %></p>
<p><%= link_to "Log in de clientes", "clientes/sign_in" %></p>
<p><%= link_to 'Página de trabalhadores', trabalhadors_path %></p>
<p><%= link_to "Log in de trabalhadores", "trabalhadors/sign_in" %></p>
<p><%= link_to "SITE ONDE EU VI AS PARADAS", "https://levelup.gitconnected.com/how-to-add-authentication-to-rails-web-app-using-devise-a5caedbbc093" %></p>